header {
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: rgb(42, 81, 121);
}

p {
    text-transform: uppercase;
    font-size: 40px;
}

.content {
    display: flex;

    align-items: center;
    justify-content: center;

    margin-top: 200px;
    font-size: 30px;

    color: red;
}